{% extends 'base.html' %}
{% block content %}
{% load static %}
    <section class="py-5">
      <div class="container py-4">
        <div class="row gy-5">
          <!-- Blog listing-->
          <div class="col-lg-9">
            <div class="row">
              <div class="col-lg-6 mb-5"><a class="d-block post-trending mb-4" href="post.html"><img class="img-fluid w-100" src="{% static 'img/post-img-1.jpg' %}" alt="..."/></a>
                <ul class="list-inline">
                  <li class="list-inline-item me-2"><a class="category-link fw-normal" href="#!">Travel</a></li>
                  <li class="list-inline-item mx-2"><a class="text-uppercase meta-link fw-normal" href="#!">John Smith</a></li>
                  <li class="list-inline-item mx-2"><a class="text-uppercase meta-link fw-normal" href="#!">15 Sep 2020</a></li>
                </ul>
                <h2 class="h3 mb-4"> <a class="d-block reset-anchor" href="post.html">Summer of Love: The History of San Francisco</a></h2>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p><a class="btn btn-link p-0 read-more-btn" href="post.html"><span>Read more</span><i class="fas fa-long-arrow-alt-right"></i></a>
              </div>
              <div class="col-lg-6 mb-5">   <a class="d-block post-trending mb-4" href="post.html"><img class="img-fluid w-100" src="{% static 'img/post-img-2.jpg' %}" alt="..."/></a>
                <ul class="list-inline">
                  <li class="list-inline-item me-2"><a class="category-link fw-normal" href="#!">Sports</a></li>
                  <li class="list-inline-item mx-2"><a class="text-uppercase meta-link fw-normal" href="#!">John Smith</a></li>
                  <li class="list-inline-item mx-2"><a class="text-uppercase meta-link fw-normal" href="#!">15 Sep 2020</a></li>
                </ul>
                <h2 class="h3 mb-4"> <a class="d-block reset-anchor" href="post.html">Yoga Recipes You Need to Make them</a></h2>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p><a class="btn btn-link p-0 read-more-btn" href="post.html"><span>Read more</span><i class="fas fa-long-arrow-alt-right"></i></a>
              </div>
              <div class="col-lg-6 mb-5">   <a class="d-block post-trending mb-4" href="post.html"><img class="img-fluid w-100" src="{% static 'img/post-img-3.jpg' %}" alt="..."/></a>
                <ul class="list-inline">
                  <li class="list-inline-item me-2"><a class="category-link fw-normal" href="#!">Design</a></li>
                  <li class="list-inline-item mx-2"><a class="text-uppercase meta-link fw-normal" href="#!">John Smith</a></li>
                  <li class="list-inline-item mx-2"><a class="text-uppercase meta-link fw-normal" href="#!">15 Sep 2020</a></li>
                </ul>
                <h2 class="h3 mb-4"> <a class="d-block reset-anchor" href="post.html">Scandinavian Design Meets Californian Styling</a></h2>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p><a class="btn btn-link p-0 read-more-btn" href="post.html"><span>Read more</span><i class="fas fa-long-arrow-alt-right"></i></a>
              </div>
              <div class="col-lg-6 mb-5">   <a class="d-block mb-4" href="post.html"><img class="img-fluid w-100" src="{% static 'img/post-img-4.jpg' %}" alt="..."/></a>
                <ul class="list-inline">
                  <li class="list-inline-item me-2"><a class="category-link fw-normal" href="#!">Entertainment</a></li>
                  <li class="list-inline-item mx-2"><a class="text-uppercase meta-link fw-normal" href="#!">John Smith</a></li>
                  <li class="list-inline-item mx-2"><a class="text-uppercase meta-link fw-normal" href="#!">15 Sep 2020</a></li>
                </ul>
                <h2 class="h3 mb-4"> <a class="d-block reset-anchor" href="post.html">The Great Revival of Dance &amp; Song in South Greenwich</a></h2>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p><a class="btn btn-link p-0 read-more-btn" href="post.html"><span>Read more</span><i class="fas fa-long-arrow-alt-right"></i></a>
              </div>
              <div class="col-lg-6 mb-5">   <a class="d-block mb-4" href="post.html"><img class="img-fluid w-100" src="{% static 'img/post-img-5.jpg' %}" alt="..."/></a>
                <ul class="list-inline">
                  <li class="list-inline-item me-2"><a class="category-link fw-normal" href="#!">Fashoin</a></li>
                  <li class="list-inline-item mx-2"><a class="text-uppercase meta-link fw-normal" href="#!">John Smith</a></li>
                  <li class="list-inline-item mx-2"><a class="text-uppercase meta-link fw-normal" href="#!">15 Sep 2020</a></li>
                </ul>
                <h2 class="h3 mb-4"> <a class="d-block reset-anchor" href="post.html">Las Palmas Cafe Revolutionizes Los Angeles Brunch Scene</a></h2>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p><a class="btn btn-link p-0 read-more-btn" href="post.html"><span>Read more</span><i class="fas fa-long-arrow-alt-right"></i></a>
              </div>
              <div class="col-lg-6 mb-5">   <a class="d-block mb-4" href="post.html"><img class="img-fluid w-100" src="{% static 'img/post-img-6.jpg' %}" alt="..."/></a>
                <ul class="list-inline">
                  <li class="list-inline-item me-2"><a class="category-link fw-normal" href="#!">Design</a></li>
                  <li class="list-inline-item mx-2"><a class="text-uppercase meta-link fw-normal" href="#!">John Smith</a></li>
                  <li class="list-inline-item mx-2"><a class="text-uppercase meta-link fw-normal" href="#!">15 Sep 2020</a></li>
                </ul>
                <h2 class="h3 mb-4"> <a class="d-block reset-anchor" href="post.html">Retro Meets Boho in Ada Kressi’s Austin Loft</a></h2>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p><a class="btn btn-link p-0 read-more-btn" href="post.html"><span>Read more</span><i class="fas fa-long-arrow-alt-right"></i></a>
              </div>
            </div>
            <!-- Pagination-->
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#!">&laquo;</a></li>
                <li class="page-item active"><a class="page-link" href="#!">1</a></li>
                <li class="page-item"><a class="page-link" href="#!">2</a></li>
                <li class="page-item"><a class="page-link" href="#!">&raquo;</a></li>
              </ul>
            </nav>
          </div>
          <!-- Blog sidebar-->
          <div class="col-lg-3">
            <!-- About category-->
            <div class="card bg-light mb-4 py-lg-4">
              <div class="card-body text-center">
                <h2 class="h3 mb-3">About me</h2><img class="rounded-circle mb-3" src="{% static 'img/author.jpg' %}" alt="..." width="100">
                <p class="text-sm text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                <ul class="list-inline small mb-0 text-dark">
                  <li class="list-inline-item"><a class="reset-anchor" href="#!"><i class="fab fa-facebook-f"></i></a></li>
                  <li class="list-inline-item"><a class="reset-anchor" href="#!"><i class="fab fa-twitter"></i></a></li>
                  <li class="list-inline-item"><a class="reset-anchor" href="#!"><i class="fab fa-instagram"></i></a></li>
                  <li class="list-inline-item"><a class="reset-anchor" href="#!"><i class="fab fa-linkedin"></i></a></li>
                  <li class="list-inline-item"><a class="reset-anchor" href="#!"><i class="fab fa-youtube"></i></a></li>
                </ul>
              </div>
            </div>
            <!-- Recent posts-->
            <div class="card mb-4">
              <div class="card-body p-0">
                <h2 class="h5 mb-3">Recent posts</h2>
                <div class="d-flex mb-3"><a class="flex-shrink-0" href="post.html"><img class="img-fluid" src="{% static 'img/recent-post-1.jpg' %}" alt="" width="70"></a>
                  <div class="ms-3">
                    <h6> <a class="reset-anchor" href="post.html">Crazy goodness</a></h6>
                    <p class="text-sm text-muted lh-sm mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                  </div>
                </div>
                <div class="d-flex mb-3"><a class="flex-shrink-0" href="post.html"><img class="img-fluid" src="{% static 'img/recent-post-2.jpg' %}" alt="" width="70"></a>
                  <div class="ms-3">
                    <h6> <a class="reset-anchor" href="post.html">Black hat</a></h6>
                    <p class="text-sm text-muted lh-sm mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                  </div>
                </div>
                <div class="d-flex mb-3"><a class="flex-shrink-0" href="post.html"><img class="img-fluid" src="{% static 'img/recent-post-3.jpg' %}" alt="" width="70"></a>
                  <div class="ms-3">
                    <h6> <a class="reset-anchor" href="post.html">My office makeover</a></h6>
                    <p class="text-sm text-muted lh-sm mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- Categories-->
            <div class="card mb-4">
              <div class="card-body p-0">
                <h2 class="h5 mb-3">Trending categories</h2><a class="category-block category-block-sm bg-center bg-cover mb-2" style="background: url({% static 'img/category-bg-1.jpg' %})" href="#!"><span class="category-block-title">Interior Design</span></a><a class="category-block category-block-sm bg-center bg-cover mb-2" style="background: url({% static 'img/category-bg-2.jpg' %})" href="#!"><span class="category-block-title">Fashion</span></a><a class="category-block category-block-sm bg-center bg-cover mb-2" style="background: url({% static 'img/category-bg-3.jpg' %})" href="#!"><span class="category-block-title">Tips &amp; Tricks</span></a>
              </div>
            </div>
            <!-- Tags-->
            <div class="card mb-4">
              <div class="card-body p-0">
                <h2 class="h5 mb-3">Tags cloud</h2>
                <ul class="list-inline">
                  <li class="list-inline-item my-1 me-2"><a class="sidebar-tag-link" href="#!">Art</a></li>
                  <li class="list-inline-item my-1 me-2"><a class="sidebar-tag-link" href="#!">Events</a></li>
                  <li class="list-inline-item my-1 me-2"><a class="sidebar-tag-link" href="#!">Make up</a></li>
                  <li class="list-inline-item my-1 me-2"><a class="sidebar-tag-link" href="#!">Design</a></li>
                  <li class="list-inline-item my-1 me-2"><a class="sidebar-tag-link" href="#!">Fashion</a></li>
                  <li class="list-inline-item my-1 me-2"><a class="sidebar-tag-link" href="#!">Inspiration</a></li>
                  <li class="list-inline-item my-1 me-2"><a class="sidebar-tag-link" href="#!">Business</a></li>
                </ul>
              </div>
            </div>
            <!-- Ad-->
            <div class="card mb-4">
              <div class="card-body p-0"><a class="d-block" href="#!"><img class="img-fluid" src="{% static 'img/banner.jpg' %}" alt=""></a></div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock content %}
    
    
